apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: explainiq-frontend
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/maxScale: "10"
        autoscaling.knative.dev/minScale: "1"
        run.googleapis.com/cpu-throttling: "false"
        run.googleapis.com/execution-environment: gen2
    spec:
      containerConcurrency: 100
      timeoutSeconds: 300
      containers:
      - image: REGION-docker.pkg.dev/PROJECT_ID/REPO/explainiq-frontend:latest
        ports:
        - containerPort: 8080
        env:
        - name: NODE_ENV
          value: "production"
        - name: ORCHESTRATOR_URL
          value: "ORCHESTRATOR_URL_PLACEHOLDER"
        - name: NEXT_PUBLIC_ORCHESTRATOR_URL
          value: "ORCHESTRATOR_URL_PLACEHOLDER"
        - name: GCS_PROJECT_ID
          value: "PROJECT_ID"
        resources:
          limits:
            cpu: "2"
            memory: "2Gi"
          requests:
            cpu: "1"
            memory: "1Gi"

